@use "../mixins/responsive.scss" as *;

.header {
	background-image: url("/../assets/images/mobile/image-hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;

	margin-bottom: 6.25rem;

	@include responsive(laptop) {
		background-image: url("/../assets/images/desktop/image-hero.jpg");
		background-size: contain;
		height: 57vh;
	}
}

.header__menu {
	padding-top: 2.5rem;
	display: flex;
	justify-content: space-between;

	@include responsive(laptop) {
		display: flex;
		align-items: baseline;
		// margin-bottom: 80px;
	}
}

.header__logo {
	width: 9.375rem;
}

.header__hamburger {
	height: 1.25rem;

	@include responsive(laptop) {
		display: none;
	}
}

.header__nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 100vh;
	justify-content: center;
	top: 0;

	@include responsive(laptop) {
		flex-direction: row;
		position: static;
		width: 50%;
		justify-content: space-evenly;
		height: auto;
	}
}

.header__nav-link {
	color: white;
	text-transform: uppercase;
	margin: 0.625rem 0;
	font-family: var(--text-font);
	font-size: 1.5625rem;

	@include responsive(laptop) {
		font-size: 1.125rem;
		text-transform: none;
	}
}

.header__nav-link:hover::after {
	@include responsive(laptop) {
		content: "";
		display: block;

		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;

		height: 4px;
		width: 30px;
		background-color: white;
	}
}

.header__title {
	color: white;
	border: 2px white solid;
	text-transform: uppercase;
	text-align: left;
	font-family: var(--text-font);
	font-weight: 200;
	font-size: 2.3125rem;
	padding: 1rem 1.5625rem;
	position: relative;
	top: 136px;

	@include responsive(laptop) {
		
		width: 23.1875rem;
		position: absolute;
    top: 140px;
	}
}

.header__title-position {
	@include responsive(laptop) {
		display: flex;
	}
}
