/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

.h2-title {
	font-family: "Josefin Sans", sans-serif;
	text-transform: uppercase;
	font-size: 1.875rem;
}

.h3-title {
	text-transform: uppercase;
	font-size: 1.25rem;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}
